/* .cont {
  background-color: black;
  border: 1px solid red;
  color: white;
} */

.small-square {
  height: 300px;
  width: 1000px;
  background-color: #979d9d;
  border: 1px sold black;
  margin: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgb(60, 73, 73);
  background: linear-gradient(
    0deg,
    rgba(60, 73, 73, 1) 0%,
    rgba(5, 5, 8, 1) 100%
  );
}
